/* External CSS */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f1;
}

.container{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}
 .container h2{
    color: #34495e;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 30px;
   
 }

.nav-bar{
           display: flex;
           justify-content: end;
           align-items: center;
           background-color: #34495e;
           font-family: Arial, Helvetica, sans-serif;
           padding: 20px;
           text-transform: uppercase;
       }
       .nav-bar ul{
           display: flex;
           list-style: none;
       }
       .nav-bar ul li{
           margin: 0 10px;
       }
       .nav-bar ul li a{
           text-decoration: none;
           color:#ecf0f1;
       }
       .nav-bar ul li a:hover{
           color: #f39c12;
       }
      

       .main-title{
           color: #ecf0f1;
           font-size: 34px;
           text-align: start;
           padding: 10px;
           margin: 0;
           background-color: #f39c12;
           margin-bottom: 16px;
           font-family: Arial, Helvetica, sans-serif;
       }